%h1 Welcome to my blog_blog
= link_to "new post", new_post_path
- @posts.each do |post|
  %h2
    = link_to post.title, post
  %p
    = time_ago_in_words post.created_at
    ago
  %p
    = truncate post.text
